.task {
    padding: 0 0 7.7em;

    @media (min-width: 768px) {
        padding: 0 0 4.4em;

    }

    .section {
        &__title {
            font-size: 3.8em;
            margin-bottom: 0;
            margin-left: -0.1em;
            padding-left: 0;

            @media (min-width: 768px) {
                font-size: 4em;
            }
        }

    }

    &__content {

        @media (min-width: 768px) {
            margin: auto;
            display: flex;
            max-width: 74em;
        }

        @media (max-width: 767px) {
            padding: 0 2.9em;
        }
    }

    &__left {
        width: 33.2em;
        position: relative;
        z-index: 1;

        @media (min-width: 768px) {
            width: 43.5em;
            flex: none;
            margin-right: 0.6em;

        }

        @media (max-width: 767px) {}
    }

    &__book {
        position: relative;
        z-index: 3;
        width: 100%;
    }

    &__shadow {
        position: absolute;
        display: block;
        max-width: none;
        top: 1.5em;
        left: -14.9em;
        width: 108.5em;
        z-index: 3;
        opacity: 0.4;

        @media (min-width: 768px) {
            top: 14.5em;
            left: -12.4em;
            // width: 87.5em;
        }
    }

    &__right {
        position: relative;
        z-index: 2;

        @media (min-width: 768px) {
            padding-top: 3.1em;
            padding-top: 10.8em;
            padding-right: 2em;
        }

        @media (max-width: 767px) {
            font-size: 1.21em;
            padding: 3.1em 0 0 1.5em;
        }
    }

    &__sub {
        font-size: 1.188em;
        opacity: 0.49;
        color: $main_color;
        max-width: 21em;
        line-height: 1.55;
    }

    &__rad {
        width: 150.938em;
        position: absolute;
        max-width: none;
        top: -65em;
        left: -35.4em;
        z-index: 2;

        @media (max-width: 767px) {
            width: 111.938em;
            left: -22.4em;
            top: -46em;

        }
    }

    .parallaxItem {
        right: 10.8em;
        bottom: -8.3em;
        width: 12.4em;
    }
}
