footer.footer.parallaxBox
    .footer__content
        .footer__left
            .footer__name Иван Иван Иванович
            .footer__prof Директор по маркетингу компании Бургер Кинг
            .footer__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus sem ipsum, sed scelerisque diam fringilla eu. Phasellus com modo, magna a lobortis dictum, mi est ullamcorper justo, quis cong

                p ue erat nunc et nisi. Proin viverra efficitur eros. Pellentesque volutpat finibus libero, a lacinia metus lobortis eget. Vestibulum at odio ex. 

                p Duis auctor gravida ultricies. Etiam vestibulum cursus enim a lacinia.

        .footer__logo
            img(src="img/logo-lg.svg", alt="")


    img.parallaxItem(src="img/fishka-6.png", alt=""  data-speed="2")
